:root {
  --bgcBody: #ece6da;
  --othBgc: #ffefca;
  --bgcTarjeta: hsl(0, 0%, 100%);
  --colorP: hsl(228, 12%, 48%);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  background-color: var(--bgcBody);
  justify-content: center;
}
/* ---------Header--------- */
header {
  background-color: #b2dfdb;
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 40px;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
  border-radius: 0px 0px 16px 16px; /*UL UR DR DL*/
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
}
header .logo {
  position: relative;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  color: #212121;
  text-decoration: none;

  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
header.abajo {
  background-color: #b2dfdbb9;
  padding: 15px 20px;
  padding: 15px;
  height: 20px;
  width: 93vw;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
}
header ul li a {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 15px;
  color: #000;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
  text-decoration: none;
  font-size: 12px;
  display: flex;
}
/* ---------Header--------- */
.contenedor {
  background-color: var(--othBgc);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  margin-top: 105px;
}
.tarjeta {
  font-family: "Fraunces", serif;
  border: solid 0.5px #ffbc42;
  box-shadow: 0 0.625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.625rem 0.125px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  width: 90vw;
  height: 635px;
  margin: 10px;
  background-color: var(--bgcTarjeta);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ---------Imagen--------- */
.card-img {
  background-color: #ffcaa6;
  height: 35%;
  width: 98%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  top: 0;
}
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0rem 0.8125rem 2.9375rem -0.3125rem,
    rgba(180, 71, 71, 0.3) 0px 0.5rem 1rem -0.5rem;
}
/* ---------Imagen--------- */
/* ---------Texto--------- */
.productInfo {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 24px;
  height: max-content;
  margin-top: 17%;
  margin-left: 5%;
}
.productInfo h2 {
  font-size: 2rem;
  margin-bottom: 8%;
}
.productInfo p {
  font-family: "Monserrat", sans-serif;
  color: var(--colorP);
  padding: 2%;
}
/* ---------Texto--------- */
/* ---------Contador--------- */
.price {
  font-size: 1.2rem;
  margin-left: 7%;
  margin-right: 7%;
  font-style: oblique;
  font-weight: bold;
}
.buttonFooter {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 17%;
  padding-top: 2rem;
  border-top: 0.0625rem solid #ddd;
}
.boton {
  display: flex;
  border-radius: 50%;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
.plus {
  width: 5vw;
  height: 5vw;
  background-image: url("src/icons8-más-64.png");
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.del {
  width: 5vw;
  height: 5vw;
  background-image: url("src/icons8-borrar-para-siempre-64.png");
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.display {
  font-size: 24px;
  font-style: italic;
  width: 15%;
}
/* ---------Contador--------- */

/* ---------Pedido--------- */
#pedido {
  width: 95%;
  box-shadow: gray 2px 2px 5px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#name {
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-top: 2px;
}
.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
  max-width: 180px;
  /*  border: solid 1px black; */
  margin: 0 auto;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #7fd1ae;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #fe8d59;
  pointer-events: none;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
/* /Placeholder name */

.btnPedidos {
  background-color: #fc8c79;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  padding: 7px;
}

/* ---------/Pedido--------- */

/* ---------Footer--------- */
footer {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10%;
  margin-top: 5%;
  letter-spacing: 6px;
}
/* ---------Footer--------- */
