:root {
  --bgcBody: #ece6da;
  --othBgc: #ffefca;
  --bgcTarjeta: hsl(0, 0%, 100%);
  --colorP: hsl(228, 12%, 48%);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  background-color: var(--bgcBody);
  justify-content: center;
}
/* ---------Header--------- */
#sticky {
  background-color: #b2dfdb;
  position: fixed;
  top: 0;
  left: 10;
  width: 93.5vw;
  height: 40px;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
  border-radius: 0px 0px 16px 16px; /*UL UR DR DL*/
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
}
#sticky .logo {
  position: relative;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  color: #212121;
  text-decoration: none;
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#sticky.abajo {
  background-color: #b2dfdbb9;
  padding: 15px 20px;
  padding: 15px;
  height: 20px;
  width: 93vw;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sticky ul {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
}
#sticky ul li a {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 15px;
  color: #000;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
  text-decoration: none;
  font-size: 12px;
  display: flex;
}
/* ---------Header--------- */
.contenedor {
  background-color: var(--othBgc);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  margin-top: 105px;
  /* border: solid 1px red; */
  width: 97%;
}
.tarjeta {
  font-family: "Fraunces", serif;
  border: solid 0.5px #ffbc42;
  box-shadow: 0 0.625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.625rem 0.125px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  width: 90vw;
  height: 635px;
  margin: 10px;
  background-color: var(--bgcTarjeta);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ------------------Estilos index------------------ */
/* ---------Main Fold--------- */
#mainFold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
}
#mainFold h1 {
  text-align: center;
  padding: 10px;
}
#mainFold p {
  padding: 10px;
}
.cta {
  background-color: #fc8c79;
  border: none;
  height: 60px;
  width: 213px;
  border-radius: 4px;
  margin: 70px;
}
.cta a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.videoContainer {
  border: 1px solid blue;
  width: 94vw;
  height: 60vw;
  /* max-width: 1200px; */
  max-width: 804px;
  max-height: 452px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------Main Fold--------- */
/* ---------Beneficios--------- */
#benefits {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 20px;
  max-height: 452px;
}
#benefits h2 {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.beneficios {
  display: flex;
  list-style-type: none;
  background-color: #b2dfdb;
  margin: 12px;
  width: 33vw;
  height: 33vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
}
/* ---------Beneficios--------- */
/* ---------How to Works--------- */
#howToWorks {
  width: 95vw;
  /* margin-bottom: 12px; */
  margin-bottom: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#howToWorks h2 {
  margin: 12px;
}
/* ---------How to Works--------- */
/* ---------Opiniones--------- */
#testimonials {
  width: 90vw;
}
#testimonials h2 {
  margin-bottom: 3vw;
}

.testimonialContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.opinion {
  width: 100%;
  flex-shrink: 0;
  border-radius: 12px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.151);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
button:focus {
  outline: none;
}
/* ---------Opiniones--------- */
/* ---------Preg. Frecuents--------- */
#faq {
  /* border: solid 1px red; */
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
/* Acordeon */
/* Establece el ancho del acordeón. Establece el margen a 90px en la parte superior e inferior y auto a la izquierda y derecha */
.acordeon {
  width: 90vw;
  /* margin: 90px auto; */
  color: black;
  background-color: var(--othBgc);
  /* padding: 45px 45px; */
  /* border: solid 1px greenyellow; */
}
.acordeon-cuerpo h2 {
  margin-top: 32px;
  font-size: 36px;
}
.acordeon .contenedor-acordeon {
  position: relative;
  margin: 10px 10px;
  /* border: solid 1px violet; */
}
/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */
.acordeon .etiqueta {
  position: relative;
  padding: 10px 0;
  font-size: 24px;
  color: black;
  cursor: pointer;
}
/* Posiciona el signo más a 5px de la derecha. Lo centra utilizando la propiedad transform. */
.acordeon .etiqueta::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}
/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */
.acordeon .contenido {
  position: relative;
  background: var(--othBgc);
  height: 0;
  font-size: 20px;
  text-align: center;
  width: 80vw;
  overflow: hidden;
  transition: 0.5s;
  /* border: solid 1px red;*/
}
/* Añade una línea horizontal entre los contenidos */
.acordeon hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}
.acordeon .contenedor-acordeon.activa .etiqueta {
  font-weight: bold;
}
/* Muestra la parte de contenido cuando está activa. Establece la altura */
.acordeon .contenedor-acordeon.activa .contenido {
  /* height: 150px; */
  height: auto;
  padding-top: 6vw;
}
/* Cambia de signo positivo a negativo una vez activado */
.acordeon .contenedor-acordeon.activa .etiqueta::before {
  content: "-";
  font-size: 30px;
}
/* Acordeon */
/* ---------Preg. Frecuents--------- */
/* ---------Footer--------- */
footer {
  border-top: 2px solid #b2dfdb36;
  padding-top: 2%;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5%;
  /* margin-top: 5%; */
  letter-spacing: 6px;
  width: 88vw;
}
/* ---------Footer--------- */
@media (min-width: 768px) {
  #benefits {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 20px;
    max-height: 452px;
  }
  .beneficios {
    display: flex;
    list-style-type: none;
    background-color: #b2dfdb;
    margin: 12px;
    width: 20vw;
    height: 20vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
  }
}
/* ------------------Estilos index------------------ */
