:root {
  --bgcBody: #ece6da;
  --othBgc: #ffefca;
  --bgcTarjeta: hsl(0, 0%, 100%);
  --colorP: hsl(228, 12%, 48%);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  background-color: var(--bgcBody);
  justify-content: center;
}
/* ---------Header--------- */
#sticky {
  background-color: #b2dfdb;
  position: fixed;
  top: 0;
  left: 10;
  width: 93vw;
  height: 40px;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
  border-radius: 0px 0px 16px 16px; /*UL UR DR DL*/
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
}
#sticky .logo {
  position: relative;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  color: #212121;
  text-decoration: none;
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#sticky.abajo {
  background-color: #b2dfdbb9;
  padding: 15px 20px;
  padding: 15px;
  height: 20px;
  width: 93vw;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sticky ul {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
}
#sticky ul li a {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 15px;
  color: #000;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
  text-decoration: none;
  font-size: 12px;
  display: flex;
}
/* ---------Header--------- */
.contenedor {
  background-color: var(--othBgc);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  margin-top: 105px;
}
.tarjeta {
  font-family: "Fraunces", serif;
  border: solid 0.5px #ffbc42;
  box-shadow: 0 0.625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.625rem 0.125px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  width: 90vw;
  height: 635px;
  margin: 10px;
  background-color: var(--bgcTarjeta);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ---------Imagen--------- */
.imgContainer {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 30%;
  margin-top: 10%;
}
.card-img {
  background-color: #ffcaa6;
  height: 100%;
  width: 98%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  top: 0;
}
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0rem 0.8125rem 2.9375rem -0.3125rem,
    rgba(180, 71, 71, 0.3) 0px 0.5rem 1rem -0.5rem;
}
/* ---------Imagen--------- */
/* ---------Texto--------- */
.productInfo {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 24px;
  height: max-content;
  height: 50%;
  padding: 17% 10% 5% 10%; /*U-R-D-L*/
}
.productInfo h2 {
  font-size: 2rem;
  margin-bottom: 8%;
}
.productInfo p {
  font-family: "Monserrat", sans-serif;
  color: var(--colorP);
  padding: 2%;
}
/* ---------Texto--------- */
/* ---------Contador--------- */
.price {
  font-size: 1.2rem;
  margin-left: 7%;
  margin-right: 7%;
  font-style: oblique;
  font-weight: bold;
}
.buttonFooter {
  display: flex;
  align-items: center;
  justify-content: left;
  /* margin-top: 17%; 
  padding-top: 2rem;*/
  border-top: 0.0625rem solid #ddd;
}
.boton {
  display: flex;
  border-radius: 50%;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
.plus {
  width: 5vw;
  height: 5vw;
  background-image: url("src/icons8-más-64.png");
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.del {
  width: 5vw;
  height: 5vw;
  background-image: url("src/icons8-borrar-para-siempre-64.png");
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.display {
  font-size: 24px;
  font-style: italic;
  width: 15%;
}
/* ---------Contador--------- */

/* ---------Pedido--------- */
#pedido {
  width: 95%;
  box-shadow: gray 2px 2px 5px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#name {
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-top: 2px;
}
.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
  max-width: 180px;
  /*  border: solid 1px black; */
  margin: 0 auto;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #7fd1ae;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #fe8d59;
  pointer-events: none;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
/* /Placeholder name */

.btnPedidos {
  background-color: #fc8c79;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  padding: 7px;
}

/* ---------/Pedido--------- */

/* ---------Footer--------- */
footer {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5%;
  margin-top: 5%;
  letter-spacing: 6px;
}
/* ---------Footer--------- */

/* ------------------Estilos index------------------ */

#mainFold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
}
#mainFold h1 {
  text-align: center;
  padding: 10px;
}
#mainFold p {
  padding: 10px;
}
.cta {
  background-color: #fc8c79;
  border: none;
  height: 60px;
  width: 213px;
  border-radius: 4px;
  margin: 70px;
}
.cta a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.videoContainer {
  border: 1px solid blue;
  width: 94vw;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#benefits {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 20px;
}
#benefits h2 {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.beneficios {
  display: flex;
  list-style-type: none;
  background-color: #b2dfdb;
  margin: 12px;
  width: 33vw;
  height: 33vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
}
#howToWorks {
  width: 95vw;
  margin-bottom: 12px;
}
#howToWorks h2 {
  margin: 12px;
}
#testimonials {
  width: 95vw;
}

.testimonialContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.opinion {
  width: 100%;
  flex-shrink: 0;
  border-radius: 12px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
button:focus {
  outline: none;
}
#faq {
  border: solid 1px red;
  width: 95vw;
}
/* Acordeon */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

/* Establece el color de fondo del cuerpo en azul. Establece el tipo de letra a Rubik */

body {
  background-color: #0a2344;
  font-family: "rubik", sans-serif;
}

/* Alinea el texto del encabezado al centro. */

h1 {
  text-align: center;
}

/* Establece el ancho del acordeón. Establece el margen a 90px en la parte superior e inferior y auto a la izquierda y derecha */

.acordeon {
  width: 70vw;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}
.acordeon .contenedor-acordeon {
  position: relative;
  margin: 10px 10px;
}

/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */

.acordeon .etiqueta {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
/* Posiciona el signo más a 5px de la derecha. Lo centra utilizando la propiedad transform. */

.acordeon .etiqueta::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */

.acordeon .contenido {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 58vw;
  overflow: hidden;
  transition: 0.5s;
}

/* Añade una línea horizontal entre los contenidos */

.acordeon hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}
/* Muestra la parte de contenido cuando está activa. Establece la altura */

.acordeon .contenedor-acordeon.activa .contenido {
  /* height: 150px; */
  height: auto;
}

/* Cambia de signo positivo a negativo una vez activado */

.acordeon .contenedor-acordeon.activa .etiqueta::before {
  content: "-";
  font-size: 30px;
}

/* Acordeon */
/* ------------------Estilos index------------------ */

@media (min-width: 768px) {
  header {
    width: 96vw;
  }
  header.abajo {
    width: 96.5vw;
  }
  .contenedor {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tarjeta {
    width: 30%;
    max-width: 378px;
    min-width: 379px;
  }
  .plus,
  .del {
    width: 2vw;
    height: 2vw;
  }
  footer {
    margin-bottom: 5%;
  }
}
